
.octodex {
  list-style-type: none;
  display: flex;
  margin: 10px;
  padding: 10px;
}

.octocat {
  flex: 1;
  flex-basis: 0;
  margin: 10px;
  position: relative;
  bor
}

.octocat > a > img {
  width: 100%;
  height: 100%;
  border: 2px solid lightgray;
  border-radius: 3px;
}

.octocat::after {
  content:'';
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 8px solid gray;
  position: absolute;
  top:420px;
  right:0px;
}

.image-footer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 2px solid lightgrey;
}

.image-number::before{
  content: '#';
  font-weight: bold;
  color: gray;
}

.image-caption{
  display: flex;
  align-items: center;
  font-family: Arial;
  font-weight: bold
  margin-right: 0;
}

.image-caption span{
  margin: 0px auto;

}
.image-caption div{
  margin-left: 3px;
  margin-right: 3px;
}

.authors {
  display: flex;
}

.authors li {
  display: flex;
}

.authors li > a > img {
  width: 25px;
  height: 25px;
}

.authors img {
  width: 100%;
  border-radius: 3px
  margin-left: 4px;
}
